@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('https://kienthucbonphuong.com/images/202006/pet-la-gi/pet-la-gi.jpg');">
    </div>
</div>

@model List<API.DTO.ProductDTO>

<h1 class="page-title">Danh sách sản phẩm</h1>
<div class="product-grid">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <div class="product-image">
                <img src="" alt="@product.ProductName">
            </div>
            <div class="product-details">
                <h3>@product.ProductName</h3>
                <p>Quantity: @product.Quantity</p>
                <p>Price: @product.Price</p>
                @{
                    string? acoount = Context.Session.GetString("UserSession");
                    if (acoount is not null)
                    {
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_@product.ProductId">Lấy hàng</a>
                    }
                    else
                    {
                        <a href="~/Login/Index" class="btn btn-danger">Đăng nhập để lấy hàng</a>
                    } 
                }
            </div>
        </div>


        <div class="modal fade" id="deleteModal_@product.ProductId" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_@product.ProductId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel_@product.ProductId">Số lượng sản phẩm của @product.ProductName</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="deleteQuantityInput_@product.ProductId" class="form-control" placeholder="Nhập số lượng sản phẩm">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="deleteProductQuantity(@product.ProductId)">Lấy hàng</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function deleteProductQuantity(productId) {
            var deleteQuantity = parseInt(document.getElementById("deleteQuantityInput_" + productId).value);
            if (!isNaN(deleteQuantity) && deleteQuantity > 0 && deleteQuantity <= 500) { // Thêm điều kiện kiểm tra
                var url = `http://localhost:5000/api/Product/DeleteQuantityProduct?productId=${productId}&deletedQuantity=${deleteQuantity}`;

                fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(result => {
                        updateProductRow(productId, result.Quantity);
                        $("#deleteModal_" + productId).modal("hide");
                    })
                    .catch(error => console.error('Error:', error));
            }
        }
    </script>
}

<style>
    body, h1, h2, h3, p {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
    }

    .page-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .jumbotron-bg {

    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;
    }

    .product-card {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
    }

    .product-image img {
        max-width: 100%;
        height: auto;
    }

    .product-details {
        margin-top: 15px;
    }

</style>
